/* VARIABLES */
$text-color: #2E3532;
$darker-text-color: #383838;
$slategray: #6E8894;
$slategray-dark: #5A707A;
$carmine: #8B2635;
$seagreen: #85BAA1;
$gray: #B8C4BB;
$royalblue: #0A2463;
$lavender: #74526C;
$lavender-dark: #51394C;
$lavender-light: #A8779C;


/* IMPORTS */
@import './components/home';
@import './components/links';
@import './components/gender';
@import './components/bubble-container';

.content {
  color: $text-color;
  font-family: Helvetica-bold;
  padding: 50px;
}

html, body, .content, .app-container {
  width: 100%;
  height: 100%;
}

.btn-primary {
  background-color: $lavender;
  border-color: $lavender-dark;

   &:hover, &:focus {
     background-color: $lavender-dark;
     border-color: $lavender-dark;
     outline-color: $lavender-light;
   }
}

a.thumbnail:hover {
  border-color: $lavender-dark;
}
