
.main-content {
  padding: 50px;
}

.all-content {
  color: #383838;
}

a {
  color: #00B7FF;
}

.main-link.thumbnail {
  border: 2px solid #BDBDBD;
  opacity: 0.8;
}

.link-container {
  padding-top: 30px;
}
