
.main-content {
  padding: 50px;
}

.all-content {
  color: #383838;
}

a {
  color: #00B7FF;
}

.main-link.thumbnail {
  border: 2px solid #BDBDBD;
  opacity: 0.8;
}

.link-container {
  padding-top: 30px;
}

body {
  font: 10px sans-serif;
}

a.linklessAnchor, a.linklessAnchor:visited, a.linklessAnchor:hover {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.axis {
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
  stroke: #000;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
