
.main-content {
  padding: 50px;
}

.all-content {
  color: #383838;
}

a {
  color: #00B7FF;
}

.main-link.thumbnail {
  border: 2px solid #BDBDBD;
  opacity: 0.8;
}

.link-container {
  padding-top: 30px;
}

body {
  font: 10px sans-serif;
}

path {
				stroke: steelblue;
				stroke-width: 1;
				fill: none;
			}

			.axis {
			  shape-rendering: crispEdges;
			}

			.x.axis line {
			  stroke: lightgrey;
			}

			.x.axis .minor {
			  stroke-opacity: .5;
			}

			.x.axis path {
			  display: none;
			}

			.y.axis line, .y.axis path {
			  fill: none;
			  stroke: #000;
			}
