<!doctype html>
<html>
  <head>
    <title>Helen Hastings</title>
    <link href='/stylesheets/main.css' rel='stylesheet'>
    <link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
  </head>
  <body>
    <div class='all-content'>
      <div class='main-content' id='container'><%- content %></div>
    </div>
    <script src="/main.min.js"></script>
  </body>
</html>
