<!doctype html>
<html>
  <head>
    <title>Helen Hastings</title>
    <link href='/bootstrap/css/bootstrap.css' rel='stylesheet'>
    <link href='/stylesheets/main.css' rel='stylesheet'>
  </head>
  <body>
    <div class='content' id='container'><%- content %></div>
    <script src='/main.min.js'></script>
  </body>
</html>
